@import "bootstrap";

body {
    background-color: #f9f9f9; 
}
.hidden { display: none; }

button.btn, .form-check-input, .form-select {
    font-size: 1.25rem;
}

.opacity-50 {
    opacity: 0.5;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.btn-sm {
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
}

textarea, select, .form-check-label {
    font-size: 1.2rem;
}

.card {
    margin-bottom: 2rem;
}

.completed {
    transition: opacity 0.2s ease-in-out;
}
.form-check-input {
    width: 1.5rem;
    height: 1.5rem;
}

.form-check-label {
    font-size: 1.25rem;
    padding-left: 0.5rem;
}

select.form-select,
textarea.form-control {
    font-size: 1.2rem;
}

.task-options {
    margin-left: 1em !important;
}

.logo img{
    height: 40px;
    width: auto;
    margin-right: 8px;
}


/** Breadcrumbs **/


.breadcrumb.breadcrumb-custom {
    padding: 0 0;
    border-color: #dbe3e6;
}

.breadcrumb {
    border: 1px solid #f3f3f3;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.56rem 1.13rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item {
    font-size: 0.875rem;
    background: #dbe3e6;
    padding: 0.56rem 10px;
    color: #000;
    display: inline-block;
    vertical-align: top;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item:before {
    content: "";
}

.breadcrumb.breadcrumb-custom .breadcrumb-item a {
    position: relative;
    color: inherit;
    border: 1px solid #dbe3e6;
    display: inline-block;
    vertical-align: top;
    padding-left:10px;
    text-decoration:none;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item a:hover {
    text-decoration:underline;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item a:before {
    right: -22px;
    z-index: 3;
    border-left-color: #dbe3e6;
    border-left-style: solid;
    border-left-width: 12px;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item a:after {
    border-top: 21px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 12px solid #ffffff;
    top: -9px;
    right: -23px;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item:last-child {
    background: transparent;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item:before {
    content: "";
}
.breadcrumb.breadcrumb-custom .breadcrumb-item a:before, .breadcrumb.breadcrumb-custom .breadcrumb-item a:after {
    position: absolute;
    top: -9px;
    width: 0;
    height: 0;
    content: "";
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}
